<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="headerwrap ">
    <header>
        <div class=" header">
            <div class="top">
                <div class="wp">

                    {% if request.user.is_authenticated %}

                        <div class="personal">
                            <dl class="user fr">
                                <dd>{{ user.username }}<img class="down fr" src="{% static 'images/top_down.png' %}"/>
                                </dd>
                                <dt><img width="20" height="20" src="{{ MEDIA_URL }}{{ user.image }}"/></dt>
                            </dl>
                            <div class="userdetail">
                                <dl>
                                    <dt><img width="80" height="80" src="{{ MEDIA_URL }}{{ user.image }}"/></dt>
                                    <dd>
                                        <h2>{{ user.nick_name }}</h2>
                                        <p>{{ user.username }}</p>
                                    </dd>
                                </dl>
                                <div class="btn">
                                    <a class="personcenter fl" href="{% url 'users:user_info' %}">进入个人中心</a>
                                    <a class="fr" href="{% url 'logout' %}">退出</a>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'users:mymessage' %}">
                            <div class="msg-num"><span id="MsgNum">{{ request.user.unread_nums }}</span></div>
                        </a>

                    {% else %}
                        <a style="color:white" class="fr registerbtn" href="{% url "register" %}">注册</a>
                        <a style="color:white" class="fr loginbtn"
                           href="{% url 'login' %}?next={{ request.path }}">登录</a>
                    {% endif %}
                </div>
            </div>

            <div class="middle">
                <div class="wp">
                    <a href="{% url 'index' %}"><img class="fl" src="{% static 'images/logo.jpg' %}"/></a>
                    <div class="searchbox fr">
                        <div class="selectContainer fl">
                            <span class="selectOption" id="jsSelectOption" data-value="course">
                               Public class
                            </span>
                            <ul class="selectMenu" id="jsSelectMenu">
                                <li data-value="course">Courses</li>
                                <li data-value="org">Course Organization</li>
                                <li data-value="teacher">Teacher</li>
                            </ul>
                        </div>
                        <input id="search_keywords" class="fl" type="text" value="" placeholder="Enter search content"/>
                        <img class="search_btn fr" id="jsSearchBtn" src="{% static 'images/search_btn.png' %}"/>
                    </div>
                </div>
            </div>


            <nav>
                <div class="nav">
                    <div class="wp">
                        <ul>
                            <li>
                                <a href="{% url 'index' %}" {% ifequal request.path '/' %}class="active"{% endifequal %}>Home
                                </a></li>
                            <li>
                                <a href="{% url 'courses:course_list' %}" {% if request.path|slice:'7' == '/course' %}class="active"{% endif %}>
                                    Public Class
                                    <img class="hot" src="{% static 'images/nav_hot.png' %}"> </a>

                            </li>
                            <li>
                                <a href="{% url 'organizations:teacher_list' %}"
                                   {% if request.path|slice:'12' == '/org/teacher' %}class="active"{% endif %}>Teacher</a>
                            </li>
                            <li><a href="{% url 'organizations:org_list' %}"
                                   {% if request.path|slice:'9' == '/org/list' %}class="active"{% endif %}>Teaching Org</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>
</section>
</body>
</html>