<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>MasterStudy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

</head>
<body>
<div class="loginbox dialogbox">
    <h1>Account login</h1>
    <div class="close jsCloseDialog"><img
            src="{% static 'images/dig_close.png' %}"/></div>
    <div class="cont">
        <form id="jsLoginForm" autocomplete="off">
            <div class="box">
                <span class="word3">user name</span>
                <input type="text" name="account_l" id="account_l"
                       placeholder="PhoneNumber/Mailbox"/>
            </div>
            <div class="box">
                <span class="word2">password</span>
                <input type="password" name="password_l" id="password_l"
                       placeholder="please enter your password"/>
            </div>
            <div class="error btns login-form-tips" id="jsLoginTips"></div>
            <!--Login error prompt-->
            <div class="btns">
                <span><input type="checkbox"
                             id="jsAutoLogin"/>&nbsp;Auto Login</span>
                <span class="forget btn fr">forget password</span>
            </div>
            <div class="button">
                <input type="button" value="log in" id="jsLoginBtn"/>
            </div>
            <div class="btns">
                <span class="fr">No account？<span
                        class="regist btn">Sign up now</span></span>
            </div>
        </form>
    </div>
</div>
<div class="dialog" id="jsDialog">
    <!--Prompt popup-->
    <div class="successbox dialogbox" id="jsSuccessTips">
        <h1>Successfully submitted</h1>
        <div class="close jsCloseDialog"><img
                src="{% static 'images/dig_close.png' %}"/></div>
        <div class="cont">
            <h2>Your request was submitted successfully！</h2>
            <p></p>
        </div>
    </div>
    <div class="noactivebox dialogbox" id="jsUnactiveForm">
        <h1>Email verification prompt</h1>
        <div class="close jsCloseDialog"><img
                src="{% static 'images/dig_close.png' %}"/></div>
        <div class="center">
            <img src="{% static 'images/send.png' %}"/>
            <p>We have sent your email<span class="green"
                              id="jsEmailToActive">12@13.com</span>Sent a message，<br/>To keep your account secure，Please verify your email in time
            </p>
            <p class="a"><a class="btn" id="jsGoToEmail" target="_blank"
                            href="http://mail.qq.com">Go to mailbox verification</a></p>
            <p class="zy_success upmove"></p>
            <p style="display: none;" class="sendE2">
                No, you can view your spam and filtered emails, or you can send a verification email again（<span class="c5c">60s</span>）
            </p>
            <p class="sendE">No, you can view your spam and filtered messages.<br/>Can also<span
                    class="c5c green" id="jsSenEmailAgin"
                    style="cursor: pointer;">Send verification email again</span></p>
        </div>
    </div>
</div>

<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">MasterStudy！</p>
            <ul class="fr hd-bar">

                <li><a href="{% url 'login' %}">[LogIn]</a></li>
                <li class="active"><a href="{% url 'register' %}">[Register]</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box" style="background: url({% static '/images/workplace.jpg' %}) no-repeat;
    background-size: cover;">
        <div class="login-box clearfix">
            <div class="hd-login clearfix"
                 style=" background:url(https://masterstudy.scdn4.secure.raxcdn.com/white-lms/wp-content/uploads/sites/7/2018/08/MasterStudy_logo.svg)
                 no-repeat 0 center !important; ">
                <a class="index-logo" href="{% url 'index' %}"></a>
                <h1 style="margin-left: 25% !important; ">User Registration</h1>
                <a class="index-font" href="{% url 'index' %}">Back to HomePage</a>
            </div>
            <div class="fl slide">
                <div class="imgslide">
                    <ul class="imgs">

                        <li><a href=""><img width="483" height="472"
                                            src="{% static 'images/pic503.png' %}"/></a>
                        </li>

                        <li><a href=""><img width="483" height="472"
                                            src="{% static 'images/pic503.png' %}"/></a>
                        </li>

                        <li><a href=""><img width="483" height="472"
                                            src="{% static 'images/pic503.png' %}"/></a>
                        </li>

                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
            <div class="fl form-box">
                <div class="tab">
                    <!--<h2 class="active">Register your phone</h2>-->
                    <h2> Registration</h2>
                </div>
                <div class="tab-form">
                    <form id="email_register_form" method="post"
                          action="{% url 'register' %}" autocomplete="off">
                        <input type='hidden' name='csrfmiddlewaretoken'
                               value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ'/>
                        <div class="form-group marb20 {% if register_form.errors.email %}errorput{% endif %}">
                            <label>E-Mail</label>
                            <input type="text" id="id_email" name="email" value="{% if register_form.email.value %}{{ register_form.email.value }}{% endif %}" placeholder="Please enter your e-mail address"/>
                        </div>
                        <div class="form-group marb8 {% if register_form.errors.password %}errorput{% endif %}">
                            <label>password</label>
                            <input type="password" id="id_password" name="password" value="{% if register_form.password.value %}{{ register_form.password.value }}{% endif %}" placeholder="please enter 6-20 chars"/>
                        </div>
                        <div class="form-group marb8 captcha1 {% if register_form.errors.captcha %}errorput{% endif %}">
                            <label>Verification code</label>
                            {{ register_form.captcha }}
                        </div>
                        <div class="error btns" id="jsEmailTips">
                            {% for key,error in register_form.errors.items %}
                                {{ error }}
                            {% endfor %}
                            {{ msg }}
                        </div>
                        <div class="auto-box marb8">
                        </div>
                        <input class="btn btn-green" id="jsEmailRegBtn"
                               type="submit" value="Sign Up"/>
                        {% csrf_token %}
                    </form>
                </div>
                <p class="form-p">Existing account？<a href="{% url 'login' %}">[LogIn Immediately]</a></p>
            </div>
        </div>
    </div>
</section>

<input id="isLogin" type="hidden" value="False"/>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/unslider.js' %}" type="text/javascript"></script>
<script src="{% static  'js/validateDialog.js' %}" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}" type="text/javascript"></script>
</body>
</html>