.stm_lms_account_popup {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #eef1f7;
  max-width: 85%;
  display: none;
  z-index: 999999999;
}

.stm_lms_account_popup.active {
  display: block;
}

.stm_lms_account_popup .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  overflow-y: scroll;
}

.stm_lms_account_popup__login {
  display: block;
  margin: 0 0 5px;
}

.stm_lms_account_popup__login i {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.stm_lms_account_popup__login h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.stm_lms_account_popup__list_single {
  display: block;
  padding: 18px 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  margin-bottom: 2px;
  color: #273044;
}

.stm_lms_account_popup__list_single.has_number {
  position: relative;
  padding-right: 50px;
}

.stm_lms_account_popup__list_single.has_number span {
  position: absolute;
  right: 15px;
  top: 17px;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  text-indent: -1px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
}

.stm_lms_account_popup__list_single.has_number span:not(.sbc) {
  background-color: #aaa;
}

.stm_lms_account_popup__close {
  position: absolute;
  top: 30px;
  left: -44px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.stm_lms_account_popup__user {
  display: flex;
  margin: 0 0 50px;
}

.stm_lms_account_popup__user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.stm_lms_account_popup__user_info h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.stm_lms_search_popup {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #eef1f7;
  max-width: 85%;
  display: none;
  z-index: 999999999;
}

.stm_lms_search_popup.active {
  display: block;
}

.stm_lms_menu_popup,.stm_lms_search_popup .inner .header_top .stm_lms_categories .lnr-menu,.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown:before,.stm_lms_search_popup .inner .stm_header_links {
  display: none;
}

.stm_lms_search_popup__close {
  position: absolute;
  top: 30px;
  left: -44px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.stm_lms_search_popup .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.stm_lms_search_popup .inner h2 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

.stm_lms_search_popup .inner .header_top {
  flex-wrap: wrap;
}

.stm_lms_search_popup .inner .header_top .stm_courses_search {
  width: 100%;
  flex-wrap: wrap;
  padding: 0!important;
  margin: 0!important;
  background-color: transparent!important;
}

.stm_lms_search_popup .inner .header_top .stm_courses_search .stm_lms_courses_search {
  width: 100%;
  order: -1;
}

.stm_lms_search_popup .inner .header_top .stm_courses_search .stm_lms_courses_search input {
  background-color: #fff;
  border-color: #fff;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories {
  width: 100%;
  margin: 15px 0 0;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown {
  position: static;
  visibility: visible;
  opacity: 1;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__parents {
  background-color: transparent;
  max-width: 100%;
  box-shadow: none;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__parent {
  position: relative;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__parent a {
  padding: 15px;
  background-color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 2px;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu,.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li>ul.sub-menu li {
  margin: 0;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__parent a:hover {
  color: #273044!important;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__childs {
  position: static;
  display: none;
  padding: 0;
  visibility: visible;
  background-color: transparent;
  opacity: 1;
  transition: 0s;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__child {
  width: 100%;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__child a {
  position: relative;
  padding: 5px 15px;
  margin-bottom: 0;
  background-color: transparent;
  text-transform: none;
  font-size: 20px;
  line-height: 28px;
}

.stm_lms_search_popup .inner .header_top .stm_lms_categories_dropdown__child a:before {
  position: absolute;
  left: 0;
  content: '-';
}

@media (max-width:768px) {
  .header_main_menu_wrapper {
    display: none;
  }
}

.stm_lms_menu_popup {
  position: fixed;
  right: 50px;
  top: 0;
  bottom: 0;
  width: 350px;
  max-width: 85%;
  background-color: #eef1f7;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  z-index: 999999999;
}

.stm_lms_menu_popup.active {
  display: block;
}

.stm_lms_menu_popup__close {
  position: absolute;
  top: 30px;
  left: -44px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.stm_lms_menu_popup .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.stm_lms_menu_popup .inner h2 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

.stm_lms_menu_popup .inner .stm_menu_toggler {
  display: none;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper {
  display: block;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .collapse.navbar-collapse {
  float: none!important;
  padding: 0!important;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li {
  float: none;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li a {
  font-size: 18px;
  font-weight: 600;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li a:after {
  display: none!important;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li>ul.sub-menu {
  position: static;
  visibility: visible;
  opacity: 1;
  margin: 0;
  padding: 0!important;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li>ul.sub-menu:before {
  display: none;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li>ul.sub-menu li a {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu li>ul.sub-menu li a:before {
  content: '-';
  margin-right: 5px;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li {
  margin-bottom: 2px;
  padding: 0;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li.menu-item-has-children {
  position: relative;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li.menu-item-has-children>a {
  padding-right: 40px!important;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li>.stm_lms_menu_toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 48px;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li>.stm_lms_menu_toggle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin: -8px 0 0 -5px;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li>a {
  padding: 13px 20px;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li>ul.sub-menu {
  display: none;
  padding-left: 15px!important;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.stm_lms_menu_popup .inner .header_main_menu_wrapper .header-menu>li>ul.sub-menu.active {
  display: block;
}
/*# sourceMappingURL=../sourcemap/account.css.map */
